.map-container {
    overflow: auto;
}

@media (min-width: 768px) {
    #map-container {
        overflow: visible;
    }
    #map-container img {
        max-width: 100%;
        width: 100%;
    }
}

input::placeholder {
    font-size: small;
    text-align: center;
}

input {
    border-radius: 5px;
    border-width: 1px;
    border-color: rgb(196, 168, 188);
}

.instrucciones {
    display: flex;
    justify-content: center;
}

.map-frame {
    border-style: groove;
    border-color: rgb(21, 102, 75);
    padding: 2em;
    border-radius: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;;

}

.container-sm img {
    display: flex;
    max-width: 100%;
    height: auto;
}

.toolbar {
    border-style: solid;
    border-radius: 10px;
    padding: 1em;
}

.icon {
    padding: 0 1em 0 1em;
    text-decoration: none;
}

/* ---------------Ventanas de modales---------------- */ 

.pjCombate {
    display: grid;  
    grid-template-columns: 6% 11% 20% 10% 23% 22% 8%;
    border-style: solid;
    border-color: rgba(70, 194, 111, 0.568);
    border-radius: 5px;
    border-width: 2px;
    margin: 3px 0 0.5em;
}

.tesoro {
    display: grid;  
    border-style: solid;
    border-color: rgba(183, 228, 174, 0.658);
    border-radius: 4px;
    border-width: 2px;
    margin: 3px 0;
}

.npc {
    display: grid;  
    border-style: solid;
    border-color: rgba(106, 109, 141, 0.459);
    border-radius: 5px;
    border-width: 2px;
    margin: 3px 0 10px 0;
}

/* ----------Remueve spinner de input number------------------ */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* -------------DRAG AND DROP------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container .item {
    display: flex;
    color: #fff;
    margin: .3rem 0;
    align-items: center;
    border-radius: .3rem;
    padding: .5rem .5rem;
    background-color: #1c015e;
    justify-content: space-between;
}

.container .item span {
    width: 2rem;
    height: 2rem;
    cursor: move;
    display: grid;
    place-items: center;
}

.container .item span:hover,
.container .item.drag {
    background-color: #2e0e7c;
}